*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
body{
	background-color: black;
	font-family: arial;
}
.main{
	width: 1170px;
	height: 1600px;
	border: 1px solid red;
	box-sizing: border-box;
	margin: auto;
}
.header{
	width: 100%;
	background-color: #343130;
	height: 40px;
	border: 0px solid red;
	padding: 7px 15px;
	box-sizing: border-box;
	/*font-weight: bold;*/
	font-size: 22px;
}
.header_left{
	float: left;
	border: 0px solid red;
}
.header_right{
	float: right;
	border: 0px solid red;
}
.weblogo{
	float: left;
	margin-right: 15px;
	margin-left: 10px;
}
.website{
	float: left;
}
.info{
	float: left;
	margin-right: 15px;
}
.info_email{
	float: left;
}
.link{
	color: white;
}
.menu_outer{
	width: 100%;
	height: 150px;
	background-color: white;
}
.logo{
	float: left;
	border: 0px solid red;
	margin-top: 5px;
	margin-left: 35px;
}
.menu_right{
	float: right;
	border: 1px solid red;
}
.menu{
	float: left;
}
.logo_image{
	height: 140px;
}