*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
body{
	background-color: black;
	font-family: arial;
}
.main{
	width: 1170px;
	height: 1600px;
	border: 1px solid red;
	box-sizing: border-box;
	margin: auto;
}
